{% extends "base.html" %}

{% block header %}
    <title>Logos Language Center</title>

    <!-- Custom CSS -->
    <link href="static/css/landing-page.css" rel="stylesheet">
{% endblock %}


{% block content %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Logos Language Center</h1>
                        <h3>Fostering Cultural and Linguistic Enrichment</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/logoslanguage" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://facebook.com/logoslanguage/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="mission"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our Mission</h2>
                    <p class="lead">
                        Logos Language Center is a nonprofit adult education organization dedicated to providing
                        language learners with affordable, holistic language instruction through an innovative cultural
                        lens. Our collaborative approach enables learners to define and express themselves with total
                        communicative competency. Our multi-prism curriculum addresses academic preparedness,
                        professional growth, cultural enrichment, and social engagement.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/optimized/coffee_notes.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

    <!-- /.content-section-a -->

    <a  name="where"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <!--<hr class="section-heading-spacer">-->
                    <div class="clearfix"></div>
                    <i class="fa fa-bicycle" style="font-size:43px;margin-left:43%;"></i>
                    <h2 class="section-heading text-center">Where?</h2>
                    <p class="lead">Despite originating from all over the US, the teachers at Logos have all decided to call Portland, Oregon home. From the delicious food carts to the fantastic parks and hiking trails, it wasn't hard for Portland to win us over. When deciding to start a non-profit ESL school, we knew nowhere would welcome us better than the passionate folks that populate Portland. </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="static/images/optimized/library.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <a  name="summer"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <i class="fa fa-sun-o icon-header" style="font-size:43px; margin-left:43%;"></i>
                    <h2 class="section-heading text-center">Our Summer Program</h2>
                    <p class="lead">This summer we will be offering 4 weeks of immersive English activities for international students. The camp will be a fully immersive atmosphere, teaching English and culture through sensory experiences. Our four 1-week camps will each have a different theme. This summer our themes will be "The Culture of Food", "Urban Parks, Nature, and Conservation", "Storytelling", and "American Culture in Film".</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/optimized/coffee_study.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!--<div class="content-section-b">-->
        <!--{% include 'about_us.html' %}-->
    <!--</div>-->

    <div class="banner">

        <div class="container">

            <div class="row" id="connect">
                <div class="col-lg-6 text-center">
                    <h2>Connect with us</h2>
                </div>
                <div class="col-lg-6 text-center">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/logoslanguage" class="btn btn-default btn-lg">
                                <i class="fa fa-twitter fa-fw"></i>
                                <span class="network-name">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/logoslanguage/" class="btn btn-default btn-lg">
                                <i class="fa fa-facebook fa-fw"></i>
                                <span class="network-name">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://igg.me/at/logoslangauge/x" class="btn btn-default btn-lg">
                                <i class="fa fa-fw fa-usd"></i>
                                <span class="network-name">IndieGogo</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
{% endblock %}
