<div class="container">

    <div class="row">
        <div class="col-lg-12 who section-heading">
            <h2>About Us</h2>
        </div>
    </div>
    <div class="row staff-pictures text-center">
        <div class="col-lg-4 well">
            <img src="{% static 'images/emily_website_pic.jpg' %}" class="img-rounded">
            <h2>Emily</h2>
            <h3>Academic Coordinator</h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Emily has taught English in abroad in China and South Korea, as well as working locally with
                immigrant and refugee students in Portland. She is from Corvallis, OR and has an MA TESOL
                from Portland State University.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;One of her favorite things about teaching language is the opportunity
                to share and learn about culture with people from all over the world. When she is not teaching,
                she loves running, cooking, and painting.
            </p>
        </div>
        <div class="col-lg-4 well">
            <img src="{% static 'images/lal.jpg' %}" class="img-rounded">
            <h2>Alyson</h2>
            <h3>Development Director</h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alyson found herself split between two loves: teaching and non-profit work. At Logos, she found
                a home for both. She uses her passion for education to fuel all of the development work she does at Logos.
            </p>
        </div>
        <div class="col-lg-4 well">
            <img src="http://lorempixel.com/400/200/nature" class="img-rounded">
            <h2>Hassan</h2>
        </div>
    </div>

</div>
<!-- /.container
